local/*	############
				BASE
					#############	*/

.container{
	
		height: 100%;
		width:100%;


	} 

	body{
		color:#AFAFAF;
		width: 775px;
		margin-left: 380px;
   
	}

	a{
 	    text-decoration: none;	   	    
 	    color: #AFAFAF;
 	    font-size: 1.5em;

	}
button[type=delete]{
	position:relative;
	margin-top: 0.1px;
}

/*	###########################################################################
				LAYOUT
#################################################################################	*/

	/*
		Header
				*********************/			

				.col-lg-1{
					height:50px;
					width: 100px;
				}	
				 
		header{
			position:static;
			height:50px;
			width: 100%
		}

		/* Nav */
		.dropdown-menu{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: white;

		}
		
		header ul{
        	
        	border: 1px solid black;

        }
        header li{
        	
        	float:left;
        	border: 1px solid black;
        	width: 10%;
        	text-align: center;
        }

        .dropdown-menu a{
        	
            display: block;
            text-align: center;
            line-height: 40px;
        }
        


.div class {
	border: 1px solid black;
}

input, textarea {
  width: 250px;
}

label {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

button[type="submit"]{
margin-top: 20px;
margin-left: 345px;
 
}

.historic{
	border:white;
	width:500px;
	height: 300px;
	background-color: white;
	overflow: scroll;
	border-radius: 3px 3px 3px 3px ;
}

strong{
	color: #5D4C65;
}


/*	#################################################################################
				MODULES
#######################################################################################	*/

/*
#nav {
		position: absolute;
		right: 0.5em;
		top: 0;
		height: 3em;
		line-height: 3em;
	}

		#nav ul {
			margin: 0;
		}

			#nav ul li {
				display: inline-block;
				margin-left: 0.5em;
				font-size: 0.9em;
			}

				#nav ul li a {
					display: block;
					color: inherit;
					text-decoration: none;
					height: 3em;
					line-height: 3em;
					padding: 0 0.5em 0 0.5em;
					outline: 0;
				}
*/

	/*
		HEADER
				****************************/

		header li{
			text-decoration: none;
			list-style-type:none;
			display:inline-block;

		}

		header li a{

		}


/*	################################################################
				THEME
####################################################################	*/


/* Mise en place du background general du site */
	body {
			background: url('../img/overlay.png'), url('../img/intro.jpg');
			background-size: 256px 256px, cover;
			background-attachment: fixed, fixed;
			background-position: top left, bottom center;
			background-repeat: repeat, no-repeat;
		}



/*	####################################################################
				STATE
########################################################################	*/

	/*
		HEADER
				**************************/

			
		a:link {
		    color: #AFAFAF;
		    text-decoration: none;
		}

		/* visited link */
		a:visited {
		    color: #AFAFAF;
		}

		/* mouse over link */
		a:hover {
		    color: #be2659;
		}

		/* selected link */
		a:active {
		    color: #be2659;
		}
/*	############
				RESET
					#############	*/


