/*body {
	text-align: center;
	border: solid brown 5px;
	width: 300px;
	margin: auto;

}
h1 {
	font-family: 'Dancing Script', cursive; 
	background-color: black;
	color: white;
}
img {
	border: red solid 2px;
	border-radius: 10px;
}
figcaption{
	font-family: 'Dancing Script', cursine;
	font-weight: bold;
}*/