/*

    base

***************************************/

.container{
    width: 775px;
    margin: 0 auto;
    overflow: hidden;
}

/*

    block

***************************************/

.site-primary-nav{
    margin: 2.75em 0 0 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 45%;
}

.site-header{
    position: relative;
    overflow: hidden;
}
.site-presentation {
    margin: 8em 0 7.75em 50%;
}

.site-column-a{
    width: 28%;
    margin: 0 0 1em 2.6666666%;
    padding: 0 4% 1em 0;
    border-width: 0 2px 0 0;
    border-style: dotted;
    float: left;
}

.site-column-b{
    width: 62%;
    margin: 0 0 1em 4.1290322%;
    float: left;
}



/*////////////// STYLES INTERNES AUX PAGES //////////////*/

.page-presentation {
    margin: 26px 0 25px 50%;
}

.site-Page-nav{
    text-align: right;
    margin: 0 0 2.75em 0;
    overflow: hidden;
    position: static;
/*    top: 0;
    left: 45%;*/
}