nav ul{
    height: 94px;
    margin-left: 400px;
}
nav ul li{
    display: inline-block;
}

header article{
    width:370px;
    height: 204px;
    float: right;
    margin-top: 20px;
    margin-right: 95px;
    font-size: 10px;

}
.grey,.txt {
    display: block;
    padding-bottom: 10px;
}
.txttitle{
       border-bottom: 2px dotted #E1E1E1;

}
.txttitle2{
       border-bottom: 2px dotted #E1E1E1;
       padding-bottom: 10px;

}
.article{
    width: 50%;
    float: left;
    font-size: 12px;
}
.article img{
    width: 50%;
    float: left;
    padding: 50px 0 20px 20px ;

}
 .article p.description{
    width: 50%;
    float: left;
    padding: 50px 0 20px 20px ;

}
.article p.txt{
    padding: 0px 15px 0px 15px;
}

footer ul{
    /*width: 600px;
    margin: 0 auto;*/
    text-align: center;
    padding: 5px 0 5px 0;
}

footer li{
    display: inline-block;
    padding-right: 10px;
   
}
