/*

    base

***************************************/

.container{
    width: 775px;
    margin: 0 auto;
    overflow: hidden;
}

/*

    block

***************************************/

.site-primary-nav{
    margin: 2.75em 0 0 0;
    overflow: hidden;
    position: absolute; /* On sort l'élément du flux, on le tank en haut a gauche et on lui donne 45% left */
    top: 0;
    left: 45%;
}

.site-header{
    position: relative;
    overflow: hidden;
}
.site-presentation {
    margin: 8em 0 7.75em 50%;
}

.site-column-a{
    width: 28%;
    margin: 0 0 1em 2.6666666%; /* Rappelons que plus il y a de chiffres après la virgule, plus le navigateur adore */
    padding: 0 4% 1em 0;
    border-width: 0 2px 0 0;
    border-style: dotted;
    float: left;
}

.site-column-b{
    width: 62%;
    margin: 0 0 1em 4.1290322%;
    float: left;
}

/*

    FORMULAIRE

***************************************/

.form h1{
    text-align: center;
}

label {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  margin: 6px;
}

.livraison{
    padding-top: 50px;
}