/*

    site-primary-nav

***************************************/

.primary-nav  a:hover::before{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
